// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


$body-font-family: 'Montserrat', sans-serif;
$border-radius-root: 0;
// Update $font-size-root to update the 1rem value.
$font-size-root: 16px;

$material-dark: (
  background: var(--v-primary-base),
  cards: var(--v-primary-base),
  text: (
    primary: #fafafa, // text--primary will give you this color and not primary--text, this will give you primary theme color
    secondary: #737373,
  )
);

$container-max-widths: (
  'md': 786px,
  'lg': 1224px,
  'xl': 1224px,
);

$headings: (
  'h1': (
    'size': 3.052rem,
    'line-height':  58.51px,
    'letter-spacing': 0.005em,
  ),
  'body-1': (
    'size': 1.25rem,
    'line-height': 24.29px,
  ),
  'body-2': (
    'size': 1.125rem,
    'line-height': 34.38px,
    'letter-spacing': 0.035em,
  ),
  'caption': (
    'size': 0.64rem,
    'line-height': 12.8px
  ),
);


$icons: (
  'inactive': var(--v-primary-base),
);

// Button
$btn-font-weight: 400;
$btn-text-transform: 'initial';
$btn-font-sizes: (
  'default': 1.125rem,
);

// Text fields
$text-field-padding: 0 20px;